.title {
    border-top: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
    background-color: white;
    padding: 35px 0;
    /* Plenty of whitespace top and bottom */
    text-align: center;
    width: 100%;
    margin: 20px 0;


}

.title-text {
    font-size: 24px;
    font-weight: bold;
    /* Bold text for the question */
    color: #000;
    margin-bottom: 5px;
    font-family: Arial, sans-serif;
}

.sing {
    background: rgb(250, 209, 4);
    border: none;
    border-radius: 20px;
    font-size: 12px;
    padding: 6px 60px;
    padding-left: 110px;
    padding-right: 110px;
    cursor: pointer;
    margin-top: 5px;
    font-size: 15px;
     
&:hover {
    background: yellow
}
}

.new-customer {
  font-size: 12px;
  font-family: Arial, sans-serif;
  margin-top: 10px;
  color: #000;
}

.start-here-link {
  color: #007185; 
  margin-left: 4px;
}

.start-here-link:hover {
  text-decoration: underline;
  color:   #1a3b41;
}